@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@500;700;900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Jost", sans-serif;
}
.carousel {
    transition: all 0.8s ease-in-out;
}

.direction {
    visibility: hidden;
}

.slider:hover .direction {
    visibility: visible;
}